{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Welcome, {{ user.username }}</h1>

<div class="mb-4">
    <h2>Institution Details</h2>
    <p>Name: {{ institution.name }}</p>
    <p>Type: {{ institution.institution_type }}</p>
    <p>Address: {{ institution.address }}</p>
    <p>City: {{ institution.city }}</p>
    <p>Country: {{ institution.country }}</p>
    <p>Contact: {{ institution.contact_number }}</p>
    <a href="{% url 'edit_institution' %}" class="cta-button" style="background-color: #4CAF50; color: white; padding: 2px 5px;">Edit Institution Details</a>
</div>
<br>
<hr class="my-4">
<br>

<div class="mb-4">
    <h2>Your Emissions Data</h2>
    <div class="card-container">
        {% if emissions %}
            {% for emission in emissions %}
            <a href="{% url 'results' emission.id %}" class="card mb-3 text-decoration-none text-dark" style="border: 1px solid #ddd; padding: 10px; border-radius: 5px;">
                <div class="card-body">
                    <h3 class="card-title">Year: {{ emission.year }}</h3>
                    <p class="card-text">Total Emissions: {{ emission.total_emissions }}</p>
                    {% if emission.year == current_year %}
                    <a href="{% url 'edit_data' emission.id %}" class="cta-button" style="background-color: #4CAF50; color: white; padding: 2px 5px;">Edit</a>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        {% else %}
            <p>No emissions data available.</p>
        {% endif %}
    </div>
    <div class="text-center">
        <a href="{% url 'input_data' %}" class="cta-button" style="padding: 2px 5px;">Add new Calculations</a>
    </div>
</div>

{% endblock %}