{% extends 'base.html' %}

{% block title %}Collect Monthly Data{% endblock %}

{% block content %}
<h1>Collect Monthly Data</h1>
<form method="post" class="text-center border p-4 rounded">
    {% csrf_token %}
    <h2>Electricity</h2>
    {{ forms.electricity.as_p }}
    <h2>Solar Generation</h2>
    {{ forms.solar.as_p }}
    <h2>Generator Fuel</h2>
    {{ forms.generator.as_p }}
    <h2>Diesel</h2>
    {{ forms.diesel.as_p }}
    <h2>Petrol</h2>
    {{ forms.petrol.as_p }}
    <h2>LPG</h2>
    {{ forms.lpg.as_p }}
    <h2>Bus Distance</h2>
    {{ forms.bus.as_p }}
    <h2>Personal Distance</h2>
    {{ forms.personal.as_p }}
    <h2>Public Distance</h2>
    {{ forms.public.as_p }}
    <h2>EV Distance</h2>
    {{ forms.ev.as_p }}
    <h2>Water Consumed</h2>
    {{ forms.water.as_p }}
    <h2>Wastewater Treated</h2>
    {{ forms.wastewater.as_p }}
    <h2>Organic Waste</h2>
    {{ forms.organic.as_p }}
    <h2>Plastic Waste</h2>
    {{ forms.plastic.as_p }}
    <h2>Sewage</h2>
    {{ forms.sewage.as_p }}
    <h2>EWaste</h2>
    {{ forms.ewaste.as_p }}
    <h2>Paper</h2>
    {{ forms.paper.as_p }}
    <button type="submit" class="cta-button">Submit</button>
</form>
{% endblock %}
