{% extends 'base.html' %}

{% block title %}Input Emissions Data{% endblock %}

{% block content %}
<h1>Input Emissions Data</h1>
<form method="post" class="text-center border p-4 rounded">
    {% csrf_token %}
    <h2>General Information</h2>
    {{ emi_data_form.as_p }}
    <h2>Energy Consumption</h2>
    {{ energy_form.as_p }}
    <h2>Fuel Consumption</h2>
    {{ fuel_form.as_p }}
    <h2>Transportation</h2>
    {{ transport_form.as_p }}
    <h2>Water Usage</h2>
    {{ water_form.as_p }}
    <h2>Waste Management</h2>
    {{ waste_form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}